.content-page__add{
    margin: 1em;
}
.form-content__add{
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.ant-form-item-label{
    width: 120px;
}
.case-button__add{
    width: 260px;
    margin: 1em 1em 1em auto;
}
.button-item__add{
    margin: 1em;
    marginBottom: 16
}